@use '../assets/colors' as color;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: color.$bg-dark;
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 0;
}